<h1>Seja bem vindo</h1>
<div class=" col-md-6 col-sm-12">
<p>App - backend em Node.js (express)</p>
<p>Este app é sobre uma escola com um sistema onde é possível adicionar alunos e editar seus dados</p>
<p>Navegue pelo navbar.</p>
</div>