<h1>Fotos e Videos </h1>
<div class="container mt-4">
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <div class="card" style="width: 100px;">
                <img class="card-img-top" height="100%" width="250" src="/public/assets/cr7.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Cr7</h5>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="card">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Snn6o2EybCA?si=W0gMVLYP1MW34Itk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Salto de Cristiano</h5>
                    <p class="card-text">Veja o craque português voando cerca de 2,65 metros de altura.</p>
                    <a href="https://youtu.be/Snn6o2EybCA?si=W0gMVLYP1MW34Itk" class="btn btn-danger">Visitar</a>
                </div>
            </div>
        </div>
    </div>
        
       
    </div>
