<h1>Alunos</h1>
<a href="/aluno/add" class="btn btn-primary mb-3">Add Aluno</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sala</th>
            <th>Nome Responsável</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
